body{
    background-color: #f3dee4;
}

.flexItem{
    background-color: #3a0e01;
    color: #fae7e5;
    height: 60pt;
    text-align: center;
    font-family: serif;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 80px;
}

#logoimg{
    margin: auto;
    max-width: 15%;
}


#logoimglogin{
    float: left;
    margin-left: 2%;
    max-width: 10%;
}

#titleName {
    margin: 0px 200px 0px 0px;
    /* clear: both; */
    text-align: center;
    color: #c03903;
    font-size: 55px;
    font-family: Forte, Georgia;
}

.titleHeadingStyle  {
    color: #e6f6ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    /* padding-left: 45px; */
    /* padding-bottom: 25px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav {
    padding: 0px 0px 5px 0px;
    float: right;
    width: 40%;
}

.nav_ul {
    /* display: grid;
    grid-template-columns: 0.75fr 1.5fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: auto;
    padding-right: 10px;
}

.nav_ul_link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #5e7704;
}

.nav_ul_link:hover{
    color: #ad4f10;
    text-shadow: 0px 0px 1px #ad4910;
}

#homecontent  {
    padding-top: 5px;
    clear: both
}

.homeimg{
    max-width: 100%;
}

.servhomeimg{
    max-width: 80%;
}

.serproimg{
    max-width: 90%;
}

.serprologinimg{
    max-width: 70%;
}

.homeimgs{
    max-width: 100%;
    max-height: 250px;
}

.serhomeimgs{
    max-width: 90%;
    max-height: 550px;
}

.buttonDiv {
    display: flex;
    justify-content: space-around;
}

.buttonDivService {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.buttonDivOut {
    margin-top: 100px;
    width: 70%;
    margin: auto;
}

.buttonDivOutService {
    margin-top: 100px;
    width: 95%;
    margin: auto;
}

.buttonstyle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    background-color: #ec8072;
    color: rgb(240, 238, 230);
    padding: 15px;
    text-transform: uppercase;
    border-color: #ec8072;
    border-radius: 8px;
    cursor: pointer;
}

.registerbuttonstyle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    background-color: #199166;
    border-color: #199166;
    color: rgb(240, 238, 230);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
    width: 40%;
}

.registerbuttonstyle:hover {
    background-color: #599119;
    border-color: #599119;
}


.addservicebuttonstyle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    background-color: #199166;
    border-color: #199166;
    color: rgb(240, 238, 230);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}

.addservicebuttonstyle:hover {
    background-color: #599119;
    border-color: #599119;
}


.updateServiceButton:hover {
    background-color: #599119;
    border-color: #599119;
}


.updateServiceButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #199166;
    border-color: #199166;
    color: rgb(240, 238, 230);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}

.cancelupdateServiceButton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: rgb(179, 4, 4);
    color: rgb(240, 238, 230);
    padding: 10px;
    border-color: rgb(179, 4, 4);
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}


.cancelupdateServiceButton:hover {
    background-color: rgb(179, 54, 4);
    border-color:  rgb(179, 54, 4);
}


.cancelPopupButton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans - serif;
    font-size: 1em;
    letter-spacing: 1px;
    background-color:  rgb(179, 54, 4);
    border-color:  rgb(179, 54, 4);
    color: rgb(240, 238, 230);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.MuiFormHelperText-root {
    color: #cc0d1d !important;
  }
  
.buttonstyle:hover{
    background-color: #0b583d;
    border-color: #0b583d;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  #descrip{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 22px;
      font-weight: 300;
      padding: 25px 0px 35px 0px;
      text-align: center;
      width: 70%;
      margin: auto;
  }

  #descripHead{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: 50;
    color: crimson;
  }

  .twocolumns{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 3%;
  }

  .twocolumnslogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
    align-items: center;
    justify-content: center;
  }

  #linehr{
     background-color: #f1c6b5 ;
      height:3px;
  }

  #serprohead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 300;
    color: #aa3304;
  }

.signupformdiv  {
    font-size: 20px;
    background-color: #c4c2bb;
    border-radius: 15px;
    padding: 15px 0px 10px 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.addserviceformdiv  {
    width: 50%;
    font-size: 20px;
    background-color: #b5b6ab;
    border-radius: 15px;
    padding: 15px 0px 10px 0px;
    margin: auto;
}

#addserviceslotdiv  {
    width: 50%;
    font-size: 20px;
    background-color: #c4c2bb;
    border-radius: 15px;
    margin: auto;
    padding: 35px;
}

#formhead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 50;
    color: rgb(121, 28, 28);
}

#editformhead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    font-weight: 50;
    color: rgb(121, 28, 28);
    padding-top: 30px;
}

#editformsubhead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    font-weight: 50;
    color: rgb(121, 28, 28);
    padding-top: 5px;
}

#popupsubhead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    font-weight: 50;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px 0px 0px 0px;
    background-color: #199166;
}

#topLine {
    height: 10px;
    background-color: #ee7e51;
    margin-bottom:30px;
}

#servicestable{
    width: 80%;
    margin: auto;
}

#bookingstable{

    width: 95%;
    margin: 55px auto 15px auto;
}

.imgicons{
    cursor: pointer;
    padding: 4px;
}

.imgicons:hover{
    box-shadow: 5px 5px 15px rgb(146, 204, 204);
    border-radius: 15px;
}


.imgiconsform{
    cursor: pointer;
    padding: 5px;
}

.imgiconsform:hover{
    box-shadow: 5px 5px 15px white;
    padding: 5px;
    border-radius: 15px;
}

#editMyServiceform, #edittimeavailform, #addreviewform, #checkreviewform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 9999;
}

.editpopup{
    background: rgb(240, 255, 252);
    padding: 10px;
    border-color:rgb(121, 28, 28);
    border-radius: 10px;
  }

  
.reviewpopup{
    background: rgb(240, 255, 252);
    padding: 5px;
    border-color:rgb(121, 28, 28);
    border-radius: 10px;
  }

.cleartext{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: brown;
    cursor: pointer;
}

.clicktext{
    font-size: medium;
    color: rgb(212, 21, 21);
    cursor: pointer;
}

.clicktextBook{
    padding: 15px;
    background-color: rgba(31,181,128,255);
    font-size: medium;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
}

.clicktextBook:hover{
    background-color: rgba(31,151,118,255);
}

.labelHead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 600;
    color: #0b4e37;
    margin: 15px 0px 15px 0px;
}

#durationNeeded{
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
}

.details{
    color: rgb(13, 101, 104);
}

.detailshead{
    font-size: large;
    color: #b34335;
}

#serviceprodetails{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
}

#twocolumnsdiv{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timebuttonsdiv{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.timeslotbtn{
    margin: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(109, 138, 6);
    padding: 10px;
    border-color: rgb(142, 145, 19);
    border-radius: 5px;
    cursor: pointer;
}

.timeslotbtn:hover{
    background-color: rgb(190, 142, 8);
}

.timeslotbtn:disabled{
    background-color: #c4c2bb;
    color: black;
    border-color: rgb(0, 0, 0);
    cursor: default;
}

.statustext{
    font-weight: 600;
    color: green;
}

#statusactions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

#reviewcustomername{
    color: royalblue;
    font-size: medium;
}

#btnsdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

